{
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"printWidth": 100,
	"tabWidth": 1,
	"useTabs": true,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
