{
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"printWidth": 100,
	"tabWidth": 1,
	"useTabs": true,
	"endOfLine": "lf",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./apps/demos/astro/src/styles/global.css",
	"overrides": [
		{
			"files": "*.astro",
			"options": { "parser": "astro" }
		},
		{
			"files": ["*.md", "*.yaml", "*.yml"],
			"options": { "useTabs": false, "tabWidth": 2 }
		}
	]
}
