---
import Layout from "../layouts/Layout.astro";

import Label from "../components/Label.astro";
---

<script>
  import confetti from "canvas-confetti";

  const toggleBtn = document.getElementById("toggle-btn") as HTMLElement;
  const copyBtn = document.getElementById("copy-btn") as HTMLElement;
  const grid = document.getElementById("astro-layout-grid") as HTMLElement;

  toggleBtn.addEventListener("click", () => {
    grid.style.display = grid.style.display === "block" ? "none" : "block";
  });

  copyBtn.addEventListener("click", async (e: MouseEvent) => {
    await navigator.clipboard.writeText("npm i astro-layoutgrid");

    const { clientX, clientY } = e;
    const originalText = copyBtn.innerHTML;
    copyBtn.innerHTML = `<pre class="text-sm">Copied! 🎉</pre>`;

    confetti({
      particleCount: 125,
      startVelocity: 30,
      spread: 150,
    });

    setTimeout(() => {
      copyBtn.innerHTML = originalText;
    }, 2000);
  });
</script>

<Layout>
  <section
    class="z-[2] mx-auto flex h-full w-full max-w-[1728px] items-center justify-center px-4 md:px-5"
  >
    <div class="flex flex-col items-center gap-6 md:gap-8">
      <div class="flex flex-col items-center gap-5 text-center">
        <Label />

        <div class="flex max-w-none flex-col items-center gap-4 md:max-w-2/3">
          <h1 class="text-4xl font-bold md:text-5xl">
            A <span class="text-highlight">0-deps</span> layout-grid component for
            AstroJS
          </h1>

          <div class="max-w-4/5">
            <p class="text-body secondary">
              Seamlessly integrate a zero-dependency responsive grid layout into
              your AstroJS projects. (Fully adjustable ofc)
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center gap-3">
        <!-- Action buttons -->
        <div class="flex flex-row gap-2">
          <button
            class="relative flex w-fit cursor-pointer flex-col justify-center overflow-hidden rounded-md border-[2px] border-black bg-white px-4 py-2 text-sm shadow-[3px_3px_0px_1.5px_#000000] transition-all duration-200 ease-out hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-[0.5px_0.5px_0px_0.25px_#000000] md:text-base"
            id="toggle-btn">&#x2318; + &#x21E7; + g or click</button
          >
          <button
            class="relative flex w-fit cursor-pointer flex-col justify-center overflow-hidden rounded-md border-[2px] border-black bg-white px-4 py-2 text-sm shadow-[3px_3px_0px_1.5px_#000000] transition-all duration-200 ease-out hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-[0.5px_0.5px_0px_0.25px_#000000] md:text-base"
            id="edit-btn"
          >
            <svg
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21 5h-3m-4.25-2v4M13 5H3m4 7H3m7.75-2v4M21 12H11m10 7h-3m-4.25-2v4M13 19H3"
              ></path>
            </svg>
          </button>
        </div>

        <!-- Install button -->
        <div
          class="rounded-lg bg-black px-4 py-2 text-white transition-all duration-200"
        >
          <button
            class="group flex h-full cursor-pointer items-center gap-2"
            id="copy-btn"
          >
            <pre class="text-sm">npm i astro-layoutgrid</pre>
            <svg
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              stroke-linecap="round"
              stroke-linejoin="round"
              xmlns="http://www.w3.org/2000/svg"
              class="transform transition-transform duration-200 group-hover:scale-95"
            >
              <path
                d="M20.829 12.861c.171-.413.171-.938.171-1.986s0-1.573-.171-1.986a2.25 2.25 0 0 0-1.218-1.218c-.413-.171-.938-.171-1.986-.171H11.1c-1.26 0-1.89 0-2.371.245a2.25 2.25 0 0 0-.984.984C7.5 9.209 7.5 9.839 7.5 11.1v6.525c0 1.048 0 1.573.171 1.986.229.551.667.99 1.218 1.218.413.171.938.171 1.986.171s1.573 0 1.986-.171m7.968-7.968a2.25 2.25 0 0 1-1.218 1.218c-.413.171-.938.171-1.986.171s-1.573 0-1.986.171a2.25 2.25 0 0 0-1.218 1.218c-.171.413-.171.938-.171 1.986s0 1.573-.171 1.986a2.25 2.25 0 0 1-1.218 1.218m7.968-7.968a11.68 11.68 0 0 1-7.75 7.9l-.218.068M16.5 7.5v-.9c0-1.26 0-1.89-.245-2.371a2.25 2.25 0 0 0-.983-.984C14.79 3 14.16 3 12.9 3H6.6c-1.26 0-1.89 0-2.371.245a2.25 2.25 0 0 0-.984.984C3 4.709 3 5.339 3 6.6v6.3c0 1.26 0 1.89.245 2.371.216.424.56.768.984.984.48.245 1.111.245 2.372.245H7.5"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
</Layout>
