<script>
  import { animate, utils, eases, stagger } from "animejs";
  const cols = utils.$("[data-demo-el='grid-col']");

  animate(cols, {
    height: ["0%", "100%"],
    duration: 950,
    easing: eases.outCubic,
    delay: stagger(100, {
      from: "center",
    }),
  });
</script>

<aside class="pointer-events-none fixed inset-0 z-0">
  <div class="mx-auto h-screen max-w-full px-3 md:px-4">
    <div
      class="grid h-full grid-cols-4 gap-3 md:grid-cols-8 md:gap-4 lg:grid-cols-12 [&>div:nth-child(n+5)]:hidden md:[&>div:nth-child(n+5)]:block md:[&>div:nth-child(n+9)]:hidden lg:[&>div:nth-child(n+9)]:block"
    >
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
      <div data-demo-el="grid-col" class="h-0 border-x border-black/10"></div>
    </div>
  </div>
</aside>
