---
import ConfettiIcon from "./svg-components/Confetti.astro";
import CircleIcon from "./svg-components/Circle.astro";
---

<aside class="relative w-max">
  <div class="flex flex-row items-center gap-2">
    <ConfettiIcon />
    <label class="text-body relative">V1.0.0 out now!</label>
  </div>

  <div class="absolute -top-3 left-1/2 -translate-x-1/2">
    <CircleIcon />
  </div>
</aside>
