---
import Staricon from "./svgs/Star.astro";
import Image from "astro/components/Image.astro";
import GithubLogo from "@assets/github-mark.png";

---


<header
  class="cui-border aligned-width fixed top-3 left-1/2 z-50 -translate-x-1/2 bg-white px-3 py-2 md:top-4"
>
  <div class="flex w-full flex-row items-center justify-between">
    <div class="flex flex-row items-center gap-1">
      <Staricon />
      <p class="text-body_primary">star it</p>
    </div>

    <a
      class="flex flex-row items-center gap-2"
      href="https://www.github.com/iaslfw/astro-layoutgrid"
      target="_blank"
    >
      <Image src={GithubLogo} alt="GitHub Logo" width={24} height={24} inferSize={false} />
    </a>
  </div>
</header>
